

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}


body{
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color:#121212;
    overflow-x:hidden;
}

hr{
    border-bottom:3px solid #EF0D33;
    margin:0 8em;
    outline:none;
}



/* Navigation */

.nav-container
{
    font-size:15px;
}


nav{
    margin-bottom:50px;
}

.navbar-brand{
    margin-left:25px;
}

.navbar-custom .navbar-brand{
    color:#fff;
}

.navbar-nav{
  margin-right:160px;
}
/* 
.navbar-nav{
    margin-top:25px;
} */

.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
  }

  .navbar-light .navbar-toggler{
    outline:none;
  }
/* 
  #reviews{
    margin-right:90px;
  } */
  /* .navbar-nav > li:hover{
      border-bottom:2px solid #121212;
      padding-right:0;
} */


a.nav-link:hover{
  border-bottom:2px solid #EF0D33;
}

.logo a{
    text-decoration: none;
    cursor:pointer;
}

.navbar-default {
    background-color: #121212 !important;
}

.nav-link {
    color:white !important;
}


/* Social */

.social-icons
{
    position: fixed;
    top: 56.33%;
    transform: translateY(-50%);
    z-index: 1;
    opacity:0.95;
}

.social-icons a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
}
 .social-icon:hover{
    color: #EF0D33;
    text-decoration: none;
}

/* Home */

.home
{
    background-color: #121212;
    color:rgba(255, 255, 255, 0.925);
    height:100%;
    min-height:625px;
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.home-left h1{
    font-weight:bold;
    margin-left:50px;
    font-size:50px;
    margin-bottom:30px;
}

/* Rubber Text */

.name{
    color:#ef0d33;
    border-bottom:2px solid #EF0D33;
}

.name:hover
{
    cursor: pointer;
}

.home-left p{
    margin-top:30px;
    font-weight:500;
    margin-bottom:40px;
    margin-left:50px;
    font-size:13.5px;
    color: #8d8d8d;
     margin-top: 40px;
     font-weight: 400;
     letter-spacing:2.5px;
}

.home-image{
    margin-top:-100px;
    width:100%;
    max-width:700px;
    margin-left:100px;
}

.name{
    color:#EF0D33;
}

/*Home button style */

.workbtn a{
    text-transform:uppercase;
    display:flex;
    justify-content: flex-start;
    padding:12.5px 20px;
    margin-left:35px;
    margin-top:20px;
    color:rgb(233, 29, 63);
    background-color:#121212;
    border:1px solid #EF0D33;
    cursor: pointer;
    font-weight:800;
    font-family: 'Lato', sans-serif;
    outline:none;
    word-spacing: 2px;
    border-radius:5px;
}

.workbtn a:focus, .workbtn a:active{
    outline:0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.workbtn a:hover, .workbtn a:focus{
    background-color:#EF0D33;
    color:rgb(235, 235, 235);
    border:1px solid #EF0D33;
    text-decoration: none;
    /* margin:0; */
}

.fa-arrow-right{
    padding-top:3.2px;
    padding-left:11.5px;
    font-size:18px;
}




/*About */


.about{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    color:whitesmoke;
    height:100%;
    width:100%;
    max-height:750px;
    margin-bottom:100px;
}

.about-left h2{
   margin-top:100px;
   font-weight:bold;
text-align:center;
margin-right:80px;
}
.about-left p{
    margin-left:60px;
    margin-right:100px;
    padding-left:80px;
    font-weight:500;
    font-size:20px;
    margin-top:50px;
    max-width:80%;
}

.about-left{
    order:2;
}

.cover-image-2{
    margin-top:200px;
    margin-right:200px;
    margin-left:200px;
    order:1;
}

/* Project */

.project
{
    background-color: #121212;
    color:rgba(255, 255, 255, 0.925);
    height:100%;
    max-height:750px;
   max-width: 100vw;
    margin-left:100px;
    margin-top:100px;
    margin-bottom: 100px;
    overflow-x:hidden;
    overflow-y:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
}


.project-left
{
    margin-right:100px;
}

.project-left h2{
    font-weight:bold;
 margin-right:100px;
 margin-left:100px;
 }


 .project-left p{
    margin-left:100px;
     font-weight:500;
     font-size:20px;
     margin-top:50px;
     max-width:80%;
 }

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    margin-right:150px;
    margin-left:100px;
    max-height:300px;

}


.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}
.content-title
{
    letter-spacing:0px;
}
.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.content-details a{
    text-decoration:none;
    color:white;
    white-space:nowrap;
}

.content-text
{
margin:0 auto;
    color:rgb(233, 29, 63);
    background-color:inherit;
    border:1px solid #EF0D33;
    padding:12.5px;
   width:150px;
   border-radius:5px;
   font-weight:bold;
   font-family: 'Roboto', sans-serif;
}

.content-text:hover
{
    background-color:#EF0D33;
}

.fadeIn-bottom {
    top: 80%
}

/* Contact */

.container-contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    background-color: #121212;
  }
  
  .contact-form {
    background: #121212;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.788);
    font-size: 15px;
    width: 60%;
    height: 600px;
    justify-content: center;
    align-items: center;
  }
  
  .contactme {
    font-weight: bold;
    text-align: center;
  }
  
  .input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .input-fields,
  .msg {
    width: 50%;
    margin: 0px auto;
  }
  
  .input-fields .input,
  .msg textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #ef0d33;
    padding: 10px;
    color: whitesmoke;
    width: 100%;
    outline: none;
    margin: 15px 0;
  }
  
  .input:focus::placeholder,
  .msg textarea:focus::placeholder {
    outline: none;
    border-radius: 0;
    text-emphasis: none;
    color: transparent;
  }
  .msg textarea {
    height: 150px;
    margin-right: 30px;
  }
  
  ::-webkit-input-placeholder {
    color: whitesmoke;
  }
  
  ::-moz-input-placeholder {
    color: whitesmoke;
  }
  
  .submitbtn {
    background: #ef0d33;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    outline: none;
    word-spacing: 2px;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
    margin: 20px auto 0px auto;
  }
  
  .submitbtn:hover,
  .submitbtn:focus {
    color: rgb(235, 235, 235);
    text-decoration: none;
  }


/* Media Queries!! */


@media(max-width:1024px)
{

    /* Home */

    .home{
        flex-direction:column;
        justify-content: center;
        padding:0 50px;
    }
    .home-left{
        text-align:center;
        margin-bottom:40px;
    }

    .home-image
    {
        margin-top:25px;
        margin-bottom:100px;
        margin-left:45px;
    }

    /* About */

    .about{
        flex-direction:column;
        justify-content: center;
        padding:0 50px;
    }
    .about-left{
        text-align:center;
        margin-bottom:40px;
    }

    .about-left h2
    {
        margin-right:0px;
    }


    .cover-image-2
    {
        margin-top:100px;
    }

    /* Projects */

    .project
    {
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }

    .project-left
    {
        order:2;
        text-align:center;
        margin-bottom:40px;
        margin-top:75px;
    }

    .project-left h2
    {
        margin-bottom:30px;
        margin:0 auto;
        font-size:28px;
    }

    /* Project Image with the overlay */

    .content
    {
        order:1;
        margin-bottom:50px;
    }

    /* Contact Form */

    .input-fields,
  .msg {
    width: 70%;
  }

  .container-contact
  {
      margin-bottom:50px;
      margin-top:50px;
  }
}



@media(max-width:768px)
{
    /* Preloader */

    .preloader-container{
        position:fixed;
       background-color: #121212;
       z-index: 99999999;
       background:#121212;
       width:100%;
       height:100%; 
       position: absolute;
       left: 0%;
       top: 0%;
       right: 0%;
       bottom: 0%;
       width: 100%;
       height: 100%;
       z-index:99999999;
   }

   .wrapper{
       height:100%;
       margin:0;
       top:300px;
    left:100px; 
    max-width:60%;
    /* float: left; */
   }

    /* Navbar */
    a.nav-link:hover
    {
        border-bottom:2px solid transparent;
        font-weight:bolder;
    }

    hr{
        display: none;
    }

    /* Navbar */

    .navbar-brand{
        margin-left:-3px;
    }

    .nav-item{
        margin-top:5px;
        margin-bottom:5px;
        margin-left: 15px;
    }

    .home-left h1{
        margin-top: 25px;
    }

    .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

    a.navlink:hover {
        padding: 0.5rem;
        margin: 0 0.4rem;
        border-bottom: 2px #121212 solid;
    }
    
    /* Home */

    .home-left h2{
        margin-left:0px;
        text-align:center;
    }

    .home-left p{
        font-weight:400;
        text-align:center;
        margin-right:20px;
        margin-left:40px;
        width:80%;
    }

    .home-image{
        margin-top:30px;
        margin-right:50px;
    }

    .cover-image-2{
        display:none;
    }
    /*
    
    .home-image{
        display:none;
    }
    
    */
    .workbtn a{
        font-size:1em;
        margin-left:15px;
        text-align:center;
    }

    /* About */
    .about-left h2{
        margin:0 auto;
        display:inline-block;
        margin-top: 90px;
        margin-left: 30px;
    }

    .about-left p{
        font-weight:400;
        text-align:center;
        margin-right:20px;
        padding:0px;
        margin-left:60px;
    }

    .project-left p
    {
        font-weight: 400;
        text-align: center;
        margin-right: 20px;
        padding: 0px;
        margin-left: 45px;
        max-height:500px;
    }

    /* Contact 

    .input-fields .input, .msg textarea 
    {
        margin: 10px 120px;
        font-size:13px;
    }


    .contact-form
    {
        width:100%;
    }


    .contactme{
        margin-top:8%;
        margin-left:28%;
    }

    .submitbtn
    {
        width:190px;
        margin-left:115px;
        margin-bottom:8%;
    }
    */
}


@media(max-width:576px)

{
    .about-left {
        margin-bottom: 40px;
    }
    .project-left {
     margin-top: 0px; 

    }

    
}